<div class="row">
    <aside class="col-md-4 col-lg-3 bg-faded sidebar">
        <?= $this->partial('app::parts/header', ['data' => $this->data['profile']]) ?>
    </aside>

    <main class="col-md-8 col-lg-9 offset-md-4 offset-lg-3 main-content">
        <div id="education" class="sub-section">
            <?= $this->partial('app::parts/education', ['data' => $this->data['schools']]) ?>
        </div>

        <div id="work-experience" class="sub-section">
            <?= $this->partial('app::parts/work-experience', ['data' => $this->data['work-experience']]) ?>
        </div>

        <div id="skills" class="sub-section">
            <?= $this->partial('app::parts/skills', ['data' => $this->data['skills']]) ?>
        </div>

        <div id="portfolio" class="sub-section">
            <?= $this->partial('app::parts/portfolio') ?>
        </div>

        <div id="volunteer-service" class="sub-section">
            <?= $this->partial('app::parts/volunteer', ['data' => $this->data['volunteer']]) ?>
        </div>
    </main>
</div>
