body {
    position: relative;
}

.sidebar {
    border-bottom: 1px solid #eee;
    padding-top: 56px;
}

.main-content {
    padding-top: 30px;
}

@media (min-width: 767px) {
    .sidebar {
        padding-top: 0;
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }

    .main-content {
        padding-top: 86px;
    }
}

.heading-portrait {
    padding: 30px;
    width: 230px;
}

.header {
    margin-bottom: 30px;
}

.progress {
    margin-bottom: 10px;
}

.sub-section {
    margin-bottom: 30px;
}

.sub-section h2 {
    padding-bottom: 5px;
    margin-bottom: 15px;
    min-width: 300px;
    width: 25%;
    border-bottom: solid 5px #0275d8;
}

.section-content {
    padding-left: 10px;
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -70px;
    height: 70px;
    visibility: hidden;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.blockquote {
    font-size: 1.1rem;
}
