<h2>Education</h2>
<div class="section-content">

    <?php foreach ($this->data as $school): ?>
        <h3><?= $school['name'] ?> <small><?= $school['location'] ?></small></h3>
        <h5><?= $school['degree-name'] ?> <small>(<?= $school['gpa'] ?> GPA)</small></h5>

        <h6 class="">Majors</h6>
        <ul>
            <?php foreach ($school['majors'] as $major): ?>
            <li><?= $major['name'] ?></li>
            <?php endforeach; ?>
        </ul>

        <button id="courses-link" class="btn btn-link" onclick="$('#courses-link').remove(); $('.course-work').toggleClass('d-none');">More Details</button>
        <div class="course-work d-none">
            <h6>Related Courses</h6>
            <div class="row section-content">
                <?php foreach ($school['majors'] as $major): ?>
                    <div class="col-md-6">
                        <p>
                            <strong class="text-muted"><?= $major['name'] ?></strong><br/>
                            <?= implode('<br>', $major['courses']) ?>
                        </p>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    <?php endforeach; ?>

</div>
