<h2>Portfolio</h2>
<ul>
    <li>This website (philstoll.com) is running on the following stack and the git repository can be found <a href="https://bitbucket.org/philstoll/resume" title="Bitbucket Git Repository">here in Bitbucket</a>.</li>
    <ul>
        <li>Ubuntu 16.04</li>
        <li>PHP 7.1</li>
        <li>Apache 2.4</li>
        <li>Zend Expressive</li>
        <li>Bootstrap 4</li>
        <li>JQuery</li>
        <li>SSL Certificate auto-renewal configured using Let's Encrypt and Certbot</li>
    </ul>
    <li>
        I was the lead developer for a PHP web application that aggregated years of law enforcement traffic stop data,
        broken down by race, and presented the information in a format where the results could easily be analysed by the public. It allowed
        comparisons to be made year by year, and against different agencies.<br>
        The application appears to have been taken down after a new AG took office, but not before MSNBC ran a 30 minute feature
        highlighting the application and results they discovered while using the application.

        <blockquote class="mt-3 blockquote">
            <p class="mb-0">
                There's this incredible arrest by arrest data made publicly available on the website of the
                Missouri Attorney General's Office every year. And it's well laid out, just click on the county,
                click on the town within the county, click on it year by year...
            </p>
            <footer class="mb-3 mt-1 blockquote-footer">Rachel Maddow <cite title="Source Title">(Host of The Rachel Maddow Show on MSNBC)</cite></footer>

            <div class="row">
                <div class="col-xl-9 col-lg-12 video-responsive">
                    <iframe width="853" height="480" src="https://www.youtube.com/embed/AwkkRZUY4ak" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </blockquote>
    </li>
</ul>