<h2 id="skills">Skills</h2>

<?php foreach ($this->data as $index => $skillSet):?>
<?php if ($index % 2 === 0): ?>
<div class="row section-content">
<?php endif;?>
    <div class="col-md-6">
        <h5 class="text-muted"><?= $skillSet['category'] ?></h5>
        <?php foreach ($skillSet['skills'] as $skills): ?>
            <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 100%; height: 25px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><p class="h5"><?= $skills['name'] ?></p></div>
            </div>
        <?php endforeach; ?>
    </div>
<?php if ($index % 2 !== 0): ?>
</div>
<?php endif;?>
<?php endforeach; ?>
