<h2>Community Service</h2>
<div class="section-content">
    <ul>
        <?php foreach ($this->data['descriptions'] as $description): ?>
            <li><?= $description ?></li>
        <?php endforeach; ?>
    </ul>
    <p>Our Foster Dog Gallery!</p>
    <div class="row">
        <div class="offset-1 col-md-8" id="mygallery" >
            <?php foreach ($this->data['foster-gallery'] as $galleryItem): ?>
                <a class="foster-dog" href="/assets/images/<?= $galleryItem['filename'] ?>" title="<?= $galleryItem['caption'] ?>">
                    <img alt="<?= $galleryItem['caption'] ?>" src="/assets/images/thumbnails/<?= $galleryItem['filename'] ?>"/>
                </a>
            <?php endforeach; ?>
        </div>
    </div>
</div>
