<h2>Work Experience</h2>
<div class="section-content">
    <?php foreach ($this->data as $job): ?>
        <h5>
            <a href="<?= $job['company_url'] ?>" title="<?= $job['company_name'] ?> Website" rel="noreferrer"><?= $job['company_name'] ?></a> -
            <small><?= $job['start_date'] ?> - <?= (null !== $job['end_date'] ? $job['end_date'] : 'Present') ?></small>
        </h5>
        <?php foreach ($job['job_titles'] as $jobTitle): ?>
            <h6><?= $jobTitle['name'] ?></h6>
            <ul>
                <?php foreach ($jobTitle['duties'] as $duty): ?>
                    <li><?= $duty ?></li>
                <?php endforeach; ?>
            </ul>
        <?php endforeach; ?>
    <?php endforeach; ?>
</div>
