<?php
$this->headMeta()
    ->prependName('keywords', 'Software Developer, Resume, Phil Stoll, Columbia, Missouri, PHP, Engineer')
    ->prependName('description', 'Resume for Phil Stoll, a full stack software developer based out of Columbia, Missouri.')
    ->prependName('theme-color', '#0275d8')
    ->prependName('viewport', 'width=device-width, initial-scale=1, shrink-to-fit=no');

$this->headLink()->prependStylesheet('/assets/combined.css');
    //->prependStylesheet('/assets/app.css')
    //->prependStylesheet('/assets/vendor/bootstrap/dist/css/bootstrap.css')
    //->prependStylesheet('/assets/vendor/justifiedGallery/dist/css/justifiedGallery.min.css')
    //->prependStylesheet('/assets/vendor/lightgallery/dist/css/lightgallery.css');

$this->inlineScript()->prependFile('/assets/combined.js');
    //->prependFile('/assets/vendor/bootstrap/dist/js/bootstrap.min.js')
    //->prependFile('/assets/vendor/tether/dist/js/tether.min.js')
    //->prependFile('/assets/vendor/lightgallery/dist/js/lightgallery.min.js')
    //->prependFile('/assets/vendor/justifiedGallery/dist/js/jquery.justifiedGallery.min.js')
    //->prependFile('/assets/vendor/jquery/dist/jquery.min.js');
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headLink(); ?>
    <link rel="icon" href="favicon.ico">

    <?php echo $this->headTitle('Phil Stoll - Resume')->setSeparator(' - ')->setAutoEscape(false) ?>
    <?= $this->partial('layout::parts/google-analytics', ['google_analytics_id' => $this->google_analytics_id,]) ?>
</head>

<body data-spy="scroll" data-target="#scrollspy-nav">

<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-primary">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#scrollspy-nav" aria-controls="scrollspy-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Phil Stoll</a>

    <div class="collapse navbar-collapse" id="scrollspy-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#work-experience">Work Experience <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#volunteer-service">Community Service</a>
            </li>
        </ul>

        <a class="pt-2" href="/resources/resume.pdf" title="Download PDF Resume"><i class="fas fa-download fa-1x fa-inverse"></i></a>
        <!--<a class="pt-1 pr-4" href="https://www.linkedin.com/in/philstoll" title="Download PDF Resume"><i class="fas fa-download fa-2x fa-inverse"></i></a>
        <a class="pt-1" href="https://www.linkedin.com/in/philstoll" title="Linkedin Profile Page"><i class="fab fa-linkedin fa-2x fa-inverse"></i></a>-->
    </div>
</nav>

    <div class="container-fluid">
        <?= $this->content ?>
    </div>

    <?php echo $this->inlineScript(); ?>
    <script type="text/javascript">
        $(function() {
            $("#mygallery").justifiedGallery({
                'randomize': false,
                'margins': 3,
                'rowHeight': 150
            });
            $('.navbar a').on('click', function(){
                if($('.navbar-toggler').css('display') !='none' && $('#scrollspy-nav').hasClass('show')){
                    $(".navbar-toggler").trigger( "click" );
                }
            });
        });

        $(document).ready(function() {
            $('#mygallery').lightGallery({
                selector: '.foster-dog'
            });
        });
    </script>
</body>
</html>
